# fly.toml app configuration file generated for deptex-extraction-worker on 2026-03-01T13:41:19-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'deptex-extraction-worker'
primary_region = 'iad'

[build]

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'performance'
  cpus = 8
  memory_mb = 65536
